doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
    	
script(src="/stylesheets/js/jquery.min.js")
script(src="/stylesheets/js/bootstrap.min.js")